/* Fixed width content
width 500px
padding L/R 75px T/B 15px
background page color of navy
body background of white

*/

html {
  background-color: navy;
}

body {
  background-color: white;
  margin: 10px auto;
  padding: 15px 75px;
  width: 500px;
}

.special {
  border: 1px dashed black;
  padding: 0px 10px;
}

#title-container {
  background: lightblue;
  border: 2px solid navy;
  border-radius: 10px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#pw-container {
  background: lightgreen;
  border: 2px solid green;
  border-radius: 10px;
  padding-left: 20px;
  margin-top: 15px;
}

#pw-container input {
  background: darkgreen;
  color: white;
  padding: 5px 10px;
  text-align: center;
}

#code-container {
  background-color: lightcoral;
  border: 2px solid red;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.single-digit-in {
  width: 50px;
  height: 75px;
  text-align: center;
  font-size: 48px;
  padding: 0px 5px;
}

#btn1 {
  padding: 7px 12px;
}

#btn1:hover {
  opacity: 0.5;
  cursor: pointer;
}
